* {
    margin: 0;
}

/* header syles */

header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 50px 240px 0px 240px;
    gap: 97px;
}

header img {
    width: 41%;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 20px 43px;
}

/* main container styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* simple syles */

section {
    margin-top: 150px;
}

/* simple styles */

.simple-ifno {
    padding: 0 400px;
    text-align: center;
}

.simple-title {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.simple-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* piture container styles */

.picture-container {
    display: flex;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    gap: 85px;
}
.picture-container img {
    width: 80%;
}

.pic-box {
    background: rgba(167, 33, 98, 0.15);
    height: 238px;
    padding: 50px 58px 0px 58px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 30px;
}

.pic-title {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

/* fresh-container styles */

.fresh-container {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    height: 220px;
    border-radius: 8px;
    padding: 80px 150px 30px 150px;
    gap: 115px;
    text-align: center;
}

.fresh-title {
    margin-top: 24px;
}