* {
    margin: 0;
}

/* header syles */

header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 50px 240px 0px 240px;
    gap: 97px;
}

header img {
    width: 41%;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 20px 43px;
}

/* main container styles */

main {
    
}

/* simple syles */

section {
    margin-top: 150px;
}

/* simple styles */

.simple-ifno {
    padding: 0 400px;
    text-align: center;
    width: 490px;
        margin: 0 auto;
}

.simple-title {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.simple-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* piture container styles */

.picture-container {
    max-width: 1140px;
        margin: 0 auto;
    display: flex;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    gap: 85px;
}
.picture-container img {
    width: 80%;
}

.pic-box {
    background: rgba(167, 33, 98, 0.15);
    height: 238px;
    padding: 50px 58px 0px 58px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 30px;
}

.pic-title {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

/* fresh-container styles */
.fresh-container {
    max-width: 1020px;
    margin: 0 auto;
}
.fresh-container {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    height: 220px;
    border-radius: 8px;
    padding: 80px 0px 12px 150px;
        gap: 40px;
    text-align: center;
}

.fresh-title {
    color: rgba(39, 39, 39, 0.80);
        font-family: Lato;
        font-size: 20px;
        font-weight: 550;
    margin-top: 24px;
}
/* hotdeal container styles */

.hotdeal-container {
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 100px 350px 80px 330px;
    gap: 200px;
}

.hotdeal {
    text-align: center;
}

.hotdeal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.hotdeal-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.primary {
    color: #E55473;
}

/* social container styles */

.social-container {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.social-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 50px;
}

/* social-pic-container styles */

.social-pic-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 24px;
    align-items: center;

}

.social-pic-container img {
    width: 100%;
}

/* form container styles */

.form-container {
    width: 865px;
    margin: 0 auto;
    background-image: url(../image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    padding: 122px 138px 122px 138px;
    text-align: center;
}

.form-container input[type="text"] {
    padding: 22px;
    width: 70%;
    border: 0px;
}

.form-container input {
    margin-right: 10px;
}

.form-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.form-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 50px;
}

/* footer container styles */

.footer-container {
    background: #111010;
    padding: 130px 650px;
    text-align: center;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.shop {
    color: #FFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 30px;
}

span {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
}